<div class="container">
    <div class="row align-items-center">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="d-grid gap-3 mx-auto">
            <h1>Join Room</h1>
            <p>Please fill room-nr to join your room</p>
            <input class="form-control" color="primary" type="text" placeholder="Room-Nr" id="roomNr">
            <button mat-raised-button color="primary" type="button" (click)="joinroom()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>