<a routerLink="/menu">back</a>

<div class="container">
    <div class="row align-items-center">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="d-grid gap-3 mx-auto">
            <h1>Create Room</h1>
            <p>Please fill in your room name (e.g. the name of your event)</p>
            <input class="form-control" color="primary" type="text" placeholder="Room-Name" id="roomName">
            <button mat-raised-button color="primary" type="button" (click)="submit()" onclick="username = document.getElementById('roomName').value;">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
