

<div class="container">
    <div class="row align-items-center">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="d-grid gap-3 mx-auto">
            <h1>Create Room</h1>
            <p>Please fill in your room name (e.g. the name of your event)</p>
            <input class="form-control" id="input" color="primary" type="text" placeholder="Room-Name" id="roomName">
            <button mat-raised-button color="primary" id="button" type="button" (click)="submit()" >Submit</button>
            <p id="p1"></p>
            <p id="p2"></p>
            <button mat-raised-button color="primary" id="button" type="button" (click)="startmatching()" >Start Matching</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
