<!--
<input type="text" name="username" value="username">
<input type="password" name="password" value="password">
-->



<mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput placeholder="username" id="username">
  </mat-form-field>


<mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput placeholder="password" id="password">
  </mat-form-field>

  <button onclick="username = document.getElementById('username').value; alert(username);">Login</button>
