<a routerLink="/login">back</a>

<!-- <app-header></app-header> -->

<div class="container">
    <div class="row align-items-center">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="d-grid gap-3 mx-auto">
                <h1>Menu</h1>
                <p>Create new connections :) </p>

                <button mat-raised-button  (click)="createRoom()" color="primary"> <div class="loginButton">Create Room</div> </button>

                <button mat-raised-button (click)="joinRoom()" color="primary"> <div class="loginButton">Join Room</div> </button>

                <button mat-raised-button (click)="matchingHistory()" color="primary"> <div class="loginButton">Matching History</div> </button>

                </div>
            </div>
        </div>
    </div>
</div>