
         <div class="d-grid gap-2 mx-auto">
            <!-- <button mat-raised-button class="btn btn-primary" color="primary" type="button" (click)="login()" onclick="username = document.getElementById('username').value; alert(username);">Login</button>
            <button mat-raised-button  (click)="createRoom()" color="primary"> <div class="loginButton">Create Room</div> </button> -->
            <button mat-raised-button color="primary" type="button" (click)="login()" onclick="username = document.getElementById('username').value;">Login</button>
         </div>