<div class="container">
    <div class="row align-items-center">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="d-grid gap-3 mx-auto">
            <h1>Sign up</h1>

<!--               <button (click)="getUsers()" class="btn btn-primary">GetAllUsers</button>

              <div *ngFor="let user of users | async">

                {{ user | json }}
              </div>

              <button (click)="createUser()" class="btn btn-primary">CreateUser</button>

              {{ newUser | async | json}} -->

              <input class="form-control" color="warn" type="text" placeholder="username" id="username">
              <input class="form-control" color="primary" type="password" placeholder="password" id="password">

              <button mat-raised-button class="btn btn-primary" color="primary" type="button" (click)="createUser()" >Sign Up</button>
            <h2> Don't have an account?
              <a routerLink="/login">Log in </a>
            </h2>       
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="container">
    <div class="row align-items-center">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="d-grid gap-3 mx-auto">
            <h1>Sign up</h1>
            <p>Enter an username and passwort to create an account </p>
            <input class="form-control" color="warn" type="text" placeholder="username" id="username">
            <input class="form-control" color="primary" type="text" placeholder="password" id="password">
            <button mat-raised-button color="primary" type="button" (click)="signup()" >Signup</button>
            <h2> Don't have an account?
              <a routerLink="/login">Log in </a>
            </h2>       
          </div>
        </div>
      </div>
    </div>
  </div>
 -->