:host {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }

 h2{
   font-size : 15px;
   margin-top : 10px;
   font-weight : 200;
 }
 
 a { color: #00838F;
    margin-left: 5px;
 }